.slider h3,
.slider h5 {
  text-shadow: 1px 1px 3px black;
}
.client {
  text-shadow: 1px 1px 3px white;
}

.parallax-container {
  height: 25%;
}

.parallax img {
  filter: blur(3px);
  opacity: 0.7 !important;
}

.client img {
  max-width: 150px;
  filter: drop-shadow(1px 1px 1px black);
}

section,
footer {
  padding: 20px 0;
}
